{% load static %}
<div class="pr_footer_main_container">
    <div class="pr_footer_content_box">
        <div class="pr_footer_content_box_component">
            <h1>Contact us</h1>
            <ul>
                <li class="li_footer">
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <p>Kathamndu</p>
                </li>
                <li class="li_footer">
                    <i class="fa-solid fa-phone"></i>
                    <p>071-554466, 98471*****</p>

                </li>
                <li class="li_footer">
                    <i class="fa-solid fa-envelope"></i>
                    <p>parikshya079@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="pr_footer_content_box_component_next">
            <h2>Work Smarter Not Harder</h2>
            <p>Test Your Capability Online, Whenever You Want And Wherever You Are.</p>
        </div>
    </div>
    <div class="pr_footer_right_and_policy">
        <div class="pr_footer_right_and_policy_col1">
            <p>Copyright 2019 websitename . All rights reserved.</p>
        </div>
        <div class="pr_footer_right_and_policy_col2">
            <a href="#">Terms and Conditions</a>
            <a href="#">Privacy policy</a>
            <a href="#">Return Policy</a>
        </div>
    </div>
</div>
