{% load static %}
<div class="pr_navbar_maincontainer">
    <div class="pr_navbar_col1">
        <div class="pr_navbar_col1_logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'image/Mask Group 16.png' %}" alt="websitelogo">
            </a>
        </div>
    </div>
    <div class="pr_navbar_col2">
        <div class="search_container">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search" name="search">
        </div>
    </div>
    <div class="pr_navbar_col3">
        <div class="pr_navbar_col3_item1">
            <a href="{% url 'mock_test_page' %}">
                <span>
                    MOCK TEST
                </span>
            </a>
        </div>
        <div class="pr_navbar_col3_item2">
            <a href="{% url 'login_page' %}">
                <span>
                    LOGIN
                </span>
            </a>
        </div>
        <div class="pr_navbar_col3_item3">
            <a href="{% url 'registration_page' %}">
                <span>
                    REGISTER
                </span>
            </a>
        </div>
    </div>
    <div class="pr_navbar_ham">
        <div class="pr_navbar_ham_rows" onclick="myFunction()">
            <div class="pr_navbar_hamburger"></div>
            <div class="pr_navbar_hamburger"></div>
            <div class="pr_navbar_hamburger"></div>
        </div>
        <div class="pr_navbar_ham_contents" id="navbar_ham_myDIV">
            <li>
                <a href="{% url 'mock_test_page' %}">
                    MOCK TEST
                </a>
            </li>
            <li>
                <a href="{% url 'login_page' %}">
                    LOGIN
                </a>
            </li>
            <li>
                <a href="{% url 'registration_page' %}">
                    REGISTER
                </a>
            </li>

        </div>
    </div>
</div>
