<div class="pr_navbar_testpage_maincontainer">
    <div class="pr_navbar_testpage_col1">
            <div class="pr_navbar_col1_logo">
                <a href="index.php">
                    <img src="image/Mask Group 16.png" alt="websitelogo">
                </a>
            </div>
    </div>
    <div class="pr_navbar_testpage_null"></div>
    <div class="pr_navbar_testpage_col2">
        <div class="pr_navbar_testpage_col2_attempt">
            <h3>Attempted:0/25</h3>
        </div>
        <div class="pr_navbar_testpage_col2_time">
            <div class="pr_navbar_testpage_col2_time_hr">
                <span>1 hrs</span>
            </div>
            <div class="pr_navbar_testpage_col2_time_dot">
                :
            </div>
            <div class="pr_navbar_testpage_col2_time_hr">
                <span>1 hrs</span>
            </div>
            <div class="pr_navbar_testpage_col2_time_dot">
                :
            </div>
            <div class="pr_navbar_testpage_col2_time_hr">
                <span>1 hrs</span>
            </div>
        </div>
    </div>
</div>
