<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar_logout.css' %}">
    <link rel="stylesheet" href="{% static 'css/Per_test_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <title>Parikshya</title>
</head>
<body>
{% include 'navbar_with_logout.html' %}
<div class="pr_bigbox">
    <div class="pr_firsttext">
        <h1>Curve Sketching</h1>
        <div class="pr_forfree">
            <h3>FREE</h3>
        </div>
    </div>
    <div class="pr_details">
        <h3>Test duration</h3>
        <h3 class="rightside">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Negative marking enabled</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Difficulty label</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Full marks</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Pass marks</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Candidate</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_details">
        <h3>Test status</h3>
        <h3 class="rightsideone">1hr</h3>
    </div>
    <hr class="one">
    <div class="pr_clickheretext">
        <h2>Click here to start the test</h2>
    </div>
    <div class="pr_forbuttons">
        <a href="{% url 'questions_page' %}">
            <button class="button">START</button>
        </a>
        <a href="{% url 'per_category_page' %}">
            <button class="button2">CANCEL</button>
        </a>
    </div>
</div>
</body>
</html>