<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar_test_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.min.css' %}">
    <title>Parikshya</title>
</head>
<body>
{% include 'navbar_test_page.html' %}
<div class="pr_question_maincontainer">
    <div class="pr_question_heading">
        <h2>Question Set 1</h2>
    </div>
    <div class="pr_question_secondmaincontainer">
        <div class="pr_onlyforquestionsandans">
            <div class="pr_question_QAbox">
                <div class="pr_question_QAbox_q">
                    <p>1.</p>
                    <p>
                        <span>Who plays for Portugal ?</span>
                    </p>
                </div>
                <div class="pr_question_QAbox_tickbox">
                    <input class="checkbox" type="checkbox">
                </div>
                <div class="pr_question_QAbox_ans">
                    <form>
                        <input id="Ronaldo" type="radio" name="mcqs" value="">
                        <label for="Ronaldo">Ronaldo</label>
                        <br>
                        <input id="Messi" type="radio" name="mcqs" value="">
                        <label for="Messi">Messi</label>
                        <br>
                        <input id="Neymar" type="radio" name="mcqs" value="">
                        <label for="Neymar">Neymar</label>
                        <br>
                        <input id="Mbappe" type="radio" name="mcqs" value="">
                        <label for="Mbappe">Mbappe</label>
                    </form>
                </div>
            </div>
            <div class="pr_question_QAbox">
                <div class="pr_question_QAbox_q">
                    <p>1.</p>
                    <p>
                        <span>Who plays for Portugal ?</span>
                    </p>
                </div>
                <div class="pr_question_QAbox_tickbox">
                    <input class="checkbox" type="checkbox">
                </div>
                <div class="pr_question_QAbox_ans">
                    <form>
                        <input id="Ronaldo" type="radio" name="mcqs" value="">
                        <label for="Ronaldo">Ronaldo</label>
                        <br>
                        <input id="Messi" type="radio" name="mcqs" value="">
                        <label for="Messi">Messi</label>
                        <br>
                        <input id="Neymar" type="radio" name="mcqs" value="">
                        <label for="Neymar">Neymar</label>
                        <br>
                        <input id="Mbappe" type="radio" name="mcqs" value="">
                        <label for="Mbappe">Mbappe</label>
                    </form>
                </div>
            </div>
            <div class="pr_question_QAbox">
                <div class="pr_question_QAbox_q">
                    <p>1.</p>
                    <p>
                        <span>Who plays for Portugal ?</span>
                    </p>
                </div>
                <div class="pr_question_QAbox_tickbox">
                    <input class="checkbox" type="checkbox">
                </div>
                <div class="pr_question_QAbox_ans">
                    <form>
                        <input id="Ronaldo" type="radio" name="mcqs" value="">
                        <label for="Ronaldo">Ronaldo</label>
                        <br>
                        <input id="Messi" type="radio" name="mcqs" value="">
                        <label for="Messi">Messi</label>
                        <br>
                        <input id="Neymar" type="radio" name="mcqs" value="">
                        <label for="Neymar">Neymar</label>
                        <br>
                        <input id="Mbappe" type="radio" name="mcqs" value="">
                        <label for="Mbappe">Mbappe</label>
                    </form>
                </div>
            </div>
            <div class="pr_question_QAbox">
                <div class="pr_question_QAbox_q">
                    <p>1.</p>
                    <p>
                        <span>Who plays for Portugal ?</span>
                    </p>
                </div>
                <div class="pr_question_QAbox_tickbox">
                    <input class="checkbox" type="checkbox">
                </div>
                <div class="pr_question_QAbox_ans">
                    <form>
                        <input id="Ronaldo" type="radio" name="mcqs" value="">
                        <label for="Ronaldo">Ronaldo</label>
                        <br>
                        <input id="Messi" type="radio" name="mcqs" value="">
                        <label for="Messi">Messi</label>
                        <br>
                        <input id="Neymar" type="radio" name="mcqs" value="">
                        <label for="Neymar">Neymar</label>
                        <br>
                        <input id="Mbappe" type="radio" name="mcqs" value="">
                        <label for="Mbappe">Mbappe</label>
                    </form>
                </div>
            </div>
            <div class="pr_question_QAbox">
                <div class="pr_question_QAbox_q">
                    <p>1.</p>
                    <p>
                        <span>Who plays for Portugal ?</span>
                    </p>
                </div>
                <div class="pr_question_QAbox_tickbox">
                    <input class="checkbox" type="checkbox">
                </div>
                <div class="pr_question_QAbox_ans">
                    <form>
                        <input id="Ronaldo" type="radio" name="mcqs" value="">
                        <label for="Ronaldo">Ronaldo</label>
                        <br>
                        <input id="Messi" type="radio" name="mcqs" value="">
                        <label for="Messi">Messi</label>
                        <br>
                        <input id="Neymar" type="radio" name="mcqs" value="">
                        <label for="Neymar">Neymar</label>
                        <br>
                        <input id="Mbappe" type="radio" name="mcqs" value="">
                        <label for="Mbappe">Mbappe</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="pr_fordisplayquestion">
            <h2 class="pr_displayquestiontext">QUESTIONS</h2>
            <div class="col1fordisplay">
                <div class="pr_boxone">
                    <h3 class="q1">1</h3>
                </div>
                <div class="pr_boxtwo">
                    <h3 class="q1">5</h3>
                </div>
                <div class="pr_boxthree">
                    <h3 class="q1">9</h3>
                </div>
                <div class="pr_boxfour">
                    <h3 class="q1">13</h3>
                </div>
                <div class="pr_boxfive">
                    <h3 class="q1">17</h3>
                </div>
            </div>
            <div class="col1fordisplay">
                <div class="pr_boxone">
                    <h3 class="q1">2</h3>
                </div>
                <div class="pr_boxtwo">
                    <h3 class="q1">6</h3>
                </div>
                <div class="pr_boxthree">
                    <h3 class="q1">10</h3>
                </div>
                <div class="pr_boxfour">
                    <h3 class="q1">14</h3>
                </div>
                <div class="pr_boxfive">
                    <h3 class="q1">18</h3>
                </div>
            </div>
            <div class="col1fordisplay">
                <div class="pr_boxone">
                    <h3 class="q1">3</h3>
                </div>
                <div class="pr_boxtwo">
                    <h3 class="q1">7</h3>
                </div>
                <div class="pr_boxthree">
                    <h3 class="q1">11</h3>
                </div>
                <div class="pr_boxfour">
                    <h3 class="q1">15</h3>
                </div>
                <div class="pr_boxfive">
                    <h3 class="q1">19</h3>
                </div>
            </div>
            <div class="col1fordisplay">
                <div class="pr_boxone">
                    <h3 class="q1">4</h3>
                </div>
                <div class="pr_boxtwo">
                    <h3 class="q1">8</h3>
                </div>
                <div class="pr_boxthree">
                    <h3 class="q1">12</h3>
                </div>
                <div class="pr_boxfour">
                    <h3 class="q1">16</h3>
                </div>
                <div class="pr_boxfive">
                    <h3 class="q1">20</h3>
                </div>
            </div>
            <div class="pr_question_submit_buttons">
                <a href="{% url 'per_category_page' %}">
                    <button class="can">CANCEL</button>
                </a>
                <button class="sub">SUBMIT</button>
            </div>
        </div>

    </div>
    <div class="pr_question_page_buttons">
        <button class="prev">PREVIOUS</button>
        <button class="nex">NEXT</button>
    </div>

</div>
</body>

</html>

<script>
var checkboxes = document.querySelectorAll('.checkbox');
var count = 0;

for (var i = 0; i < checkboxes.length; i++) {
  checkboxes[i].addEventListener('click', function () {
    if (this.checked == true) {
      count++;
    }
    else {
      count--;
    }
    document.getElementById('selected').innerHTML = count;
  })
}

</script>