.pr_ap_course_main {
    position: relative;
    left: 270px;
    top:70px;
    width: 81%;
    margin-top: 20px;
}

.pr_ap_course_top {
    width: 100%;
    display: flex;
    height: 70px;
}

.pr_ap_course_top_left {
    width: 20%;
    color: black;
    font-weight: bold;
    font-size: large;
}

.pr_ap_top_null {
    width: 60%;
}

.pr_ap_course_top_right {
    width: 20%;
}

.pr_ap_course_top_right button {
    background-color: #3ef0e4;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    cursor: pointer;
}

.pr_ap_course_top_right button:hover {
    background-color: #aa7f5e;
}
.pr_ap_course_table{
    width: 95%;
    margin: auto;
}

#courses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#courses td, #courses th {
    border: 2px solid #ddd;
    padding: 8px;
}



#courses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4B8FF5;
    color: white;
}
.pr_ap_course_name{
    width: 25%;
}
.pr_ap_course_que{
    width: 12%;
}
.pr_ap_course_fm{
    width: 10%;
}
.pr_ap_course_pm{
    width: 10%;
}
.pr_ap_course_price{
    width: 10%;
}
.pr_ap_course_action{
    width: 18%;
}
.pr_ap_deletebtn{
    background-color: #ff2d2d;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    cursor: pointer;

}
.pr_ap_editbtn{
    background-color: #2dff2d;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    width: 40%;
    height: 30px;
    cursor: pointer;
}
.pr_ap_deletebtn:hover{
    background-color: rgb(224, 96, 96);
}
.pr_ap_editbtn:hover{
    background-color: rgb(157, 238, 146);
}