body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.pr_ap_top_maincontainer{
    height: 70px;
    background-color: #322B2B;
    width: 100%;
    display: flex;
}
/* .pr_ap_top_maincontainer a{
    width: 100%;
    height: 100%;
} */
.pr_ap_top_logo{
    width: 50%;
    margin-left: 30px ;
    cursor: pointer;
}
.pr_ap_top_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pr_ap_top_blank{
    width: 70%;
}
.pr_ap_top_logout{
    width: 15%;
    margin: auto;
}
.pr_ap_top_logout button{
    background-color: blue;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 6px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
}
.pr_ap_top_logout button:hover{
background-color: darkgray;
}

