<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <link
        rel="stylesheet"
        href="css/navbar_test_page.css"
    >
    <link
        rel="stylesheet"
        href="css/responsive.css"
    >
    <title>Parikshya</title>
</head>

<body>
    <div class="pr_navbar_testpage_maincontainer">
        <div class="pr_navbar_testpage_col1">
            <img
                src="image/Mask Group 16.png"
                alt=""
            >
        </div>
        <div class="pr_navbar_testpage_col2">
            <div class="pr_navbar_testpage_col2_attempt">
                <h3>Attempted:0/25</h3>
            </div>
            <div class="pr_navbar_testpage_col2_time">
                <div class="pr_navbar_testpage_col2_time_hr">
                    <span>1 hrs</span>
                </div>
                <div class="pr_navbar_testpage_col2_time_dot">
                    :
                </div>
                <div class="pr_navbar_testpage_col2_time_hr">
                    <span>1 hrs</span>
                </div>
                <div class="pr_navbar_testpage_col2_time_dot">
                    :
                </div>
                <div class="pr_navbar_testpage_col2_time_hr">
                    <span>1 hrs</span>
                </div>
            </div>
        </div>
    </div>


</body>