<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="purchasenow.css/purchasenow.css">
    <title>Parikshya</title>
</head>

<body>
    <div class="pr_container1">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container2">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container3">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container4">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container5">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container6">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container7">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
    <div class="pr_container8">
        <div class="forimageleft"><img src="cbse-class-9-science-study-pack-500x500.jpg" alt=""></div>
        <div class="fortextpart">
            <div class="pr_titletext">
                <h2 class="subjecttext">CLASS 12</h2>
                <h2 class="availabletests">Details about test</h2>
            </div>
            <div class="pr_forbutton">
                <button class="button">BUY NOW</button>

            </div>
        </div>
    </div>
</body>

</html>