* {
    margin: 0;
    padding: 0%;
}
a{
    text-decoration: none;
}
/* packages and get started css started  */

.pr_packages_content_heading {
    text-align: center;
    font-size: 28px;
}

.pr_packages_content_heading_hr {
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 10px;
    margin: auto;
    border-radius: 5px;
}

.pr_packages_content {
    padding: 15px 0px;
}

.pr_packages_content_boxes_box {
    margin-top: 30px;
    background-color: #9B9B9B;
    width: 95%;
    height: 70%;
    border-radius: 17%;
    margin: 30px auto;
    cursor: pointer;
}

.pr_packages_content_boxes_box:hover {
    background-color: #BEE9E6;
}

.pr_packages_content_boxes_box_img {
    height: 80%;
}

.pr_packages_content_boxes_box_img img {
    width: 100%;
    height: 100%;
    border-radius: 17%;
}

.pr_packages_content_boxes_box_text {
    text-align: center;
    /* margin: 15px 0px; */
    font-size: 30px;
    line-height: 35px;
    padding-top: 12px;
}

.pr_packages_content_boxes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
    height: 27rem;
}

.pr_packages_get_started {
    background: #000000;
    margin-top: 20px;
    height: 200px;
}

.pr_packages_get_started_text {
    padding: 45px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.pr_packages_get_started_text h3 {
    line-height: 60px;
    font-size: xx-large;
}

.pr_packages_get_started_text h3 span {
    color: #fba638d2;
    cursor: pointer;
}

.pr_packages_get_started_text h3 span:hover {
    color: #FBA638;
}

/* packages and get started css finished  */