/* footer Css starts here */
* {
    margin: 0;
    padding: 0;
}

.pr_footer_main_container {
    background: #fff;
    width:100%;
    color: black;
    border-top: 2px solid #707070;
}
.pr_footer_content_box{
display:flex;
}
.pr_footer_content_box_component {
    color: black;
    padding: 25px 35px 20px;
    width:40%;

}
.pr_footer_content_box_component_next{
width:60%;
padding:25px;
}
.pr_footer_content_box_component_next p{
padding:20px 0px 0px 0px;
}

.pr_footer_content_box ul {
    list-style: none;
    padding: 10px 0px;
}

.li_footer {
    height: 27px;
    width: 100%;
    margin: 12px 0px 12px 0px;
   display:flex;
}

.li_footer i {
    font-size:22px;
}
.li_footer p{
width:90%;
margin-left:20px;
font-size:large;
}

.pr_footer_right_and_policy {
    padding: 13px 3px;
    margin: 1px 28px;
    border-top: 2px solid #707070;
    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: space-between;
    font-size: 19px
}

.pr_footer_right_and_policy_col2 {
    float: right;
    margin-left: 146px;
}

.pr_footer_right_and_policy_col2 a {
    text-decoration: none;
    color: black;
    padding: 2px 8px;
}

/* footer Css ends here */

/* responsive footer css starts here */
@media only screen and (max-width: 700px) {

    .pr_footer_right_and_policy {
        display: block;
        font-size: 15px;
    }


    .pr_footer_right_and_policy_col2 {
        padding: 12px 0px;
        margin-top: 13px;
        float: none;
    margin-left: 0;
        /* float: right; */
    }

    .pr_footer_right_and_policy_col2 a {
        padding: 2px 0px;
    }
    .pr_packages_get_started_text{
        padding: 0px;
    }
}
/* responsive footer css Ends here */