/* css for navbar starts here */
.pr_navbar_maincontainer a {
    text-decoration: none;
    color: black !important;
}

.pr_navbar_maincontainer {
    background-color: white;
    height: 65px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    color:black !important;
}

.pr_navbar_col1 {
    width: 25%;
    height: 100%;


}

.pr_navbar_col2 {
    width: 45%;
    margin-top: 17px;
}

.pr_navbar_col3 {
    width: 30%;
    display: flex;
    color: white;
}

.pr_navbar_col1_logo {
    width: 83%;
    height: 100%;
    margin: auto;
}

.pr_navbar_col1_logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.search_container {
    width: 60%;
    margin: auto;
    height: 100%;
}

.search_container i {
    position: absolute;
    font-size: large;
    padding: 9px 0px 4px 7px;


}

.search_container input {
    height: 25px;
    width: 75%;
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 2px 2px 2px 45px;
    font-size: medium;
        font-family: sans-serif !important;

}

.search_container input::placeholder {

    font-weight: bold;
}

.pr_navbar_col3_item1 {
    width: 25%;
margin-top: 24px;
    cursor: pointer;
}

.pr_navbar_col3_item2 {
    width: 33.33%;
margin-top: 24px;
    cursor: pointer;
}

.pr_navbar_col3_item3 {
    width:33.33%;
margin-top: 24px;
    cursor: pointer;
}
.pr_navbar_col3_item4{
 width: 33.33%;
background-color:#46b8da;
    cursor: pointer;
}

.pr_navbar_col3_item1 span {
    font-size: large;
    font-weight: bolder;
}

.pr_navbar_col3_item2 span {
    font-size: large;
    font-weight: bolder;
    margin-left: 35px;
}

.pr_navbar_col3_item3 span {
    font-size: large;
    font-weight: bolder;
}


.pr_navbar_col3_item1 span:hover {
    color: #F37F25;
}

.pr_navbar_col3_item2 span:hover {
    color: #F37F25;
}

.pr_navbar_col3_item3 span:hover {
    color: #F37F25;
}

.pr_navbar_ham {
    display: none;
}

/* css for navbar ends here */

/* css for responsive navbar starts here */
@media screen and (max-width: 600px) {
    .pr_navbar_col1 {
        width: 100%;
        height: 70px;

    }

    .pr_navbar_maincontainer {
        display: block;
        height: 135px;
        width: 100%;
    }

    .pr_navbar_col2 {
        width: 55%;
        margin: auto;

    }

    .search_container {
        width: 100%;
    }

    .search_container input {
        width: 80%;
        height: 25px;

    }

    .pr_navbar_col3 {
        display: none;
    }

    .pr_navbar_ham {
        display: block;
        float: right;
        cursor: pointer;
        margin-right: 5px;
    }

    .pr_navbar_hamburger {
        width: 20px;
        height: 3px;
        background-color: #F37F25;
        margin: 3px 0px;
        border-radius: 1px;
    }

    .pr_navbar_ham_rows {
        /* width: 100%; */
        margin-left: 120px;

    }

    .pr_navbar_ham_contents {
        list-style: none;
        padding: 6px 0px;
        background-color: black;
        width: 100%;
        /* padding: 50px 0; */
        /* text-align: center; */
        /* background-color: lightblue; */
        margin-top: 8px;
        /* display: none; */

    }

    .pr_navbar_ham_contents li {
        margin: 25px 2px;
        font-size: x-large;
        font-weight: bolder;
        color: white;

    }
    .pr_navbar_ham_contents li:hover{
        color:#F37F25;
    }
    #navbar_ham_myDIV{
        display: none;
    }
}
/* css for responsive navbar starts here */

.pr_navbar_col3_login{
    width: 56%;
    height: 60%;
    background: #3750bf;
    border-radius: 5px;
color:white;
margin:auto;
  box-shadow: 6px 6px 8px -2px #888888;
}
.pr_navbar_col3_login span{
text-align:center;
margin:0px 0px 0px 14px;
}
.pr_navbar_col3_register{
  width: 77%;
    height: 60%;
    background: #3750bf;
    border-radius: 5px;
color:white;
margin:auto;
  box-shadow: 6px 6px 8px -2px #888888;
}
.pr_navbar_col3_register span{
text-align:center;
margin:0px 0px 0px 12px;
}