/* css for afternavbar_banner starts here  */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
a{
color:none;
text-decoration:none;
}
.pr_profile_main_container{
height:100%;
width:100%;
}
.pr_profile_top_name{
height:70px;
width:100%;
background-color:#212529;
color:white;
text-align:center;
display:flex;

}
.pr_profile_top_name h1{
position:relative;
top:16px;
width:80%;
}
.pr_profile_profile{
height:180px;
width:50%;
margin:auto;
margin-top:72px;
display:flex;
}

.pr_profile_circle {
    width:150px;
    height:150px;
    cursor: pointer;
text-align:center;

}
.pr_profile_circle span {
width:100%;
height:100%;
position:relative;
top:42px;
color:white;
font-size:56px;
font-weight:bolder;
}
.pr_profile_circle_name{
background-color:#212529;
border-radius:50%;
height:100%;
width:100%;
}
.pr_profile_nameaddress{
margin:31px 0px 0px 30px;
}
.pr_profile_email{
margin-top:10px;
}
.pr_profile_address{
margin-top:10px;
}
.pr_footer_main_container{
position:fixed;
bottom:0;
}
.pr_profile_logout{
    width: 20%;
    height:100%;
}
.pr_profile_logout_btn span,i{
color:white;
}
.pr_profile_logout_btn{
    width:46%;
    height:25%;
    background-color:#004d64;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding: 7px 0px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin: 15px 12px 15px 50px;
}