* {
    margin: 0;
    padding: 0;
}
/* question page css */
.pr_question_maincontainer {
    background: #000000;
    padding: 25px;
    color: white;
}

.pr_question_heading {
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}

.pr_question_QAbox {
    background: #5E5A5A;
    padding: 15px 0px 15px 30px;
    font-size: x-large;
    margin: 10px 0px;
}

.pr_question_QAbox_q {
    display: flex;
}

.pr_question_QAbox_ans {
    padding: 0px 0px 0px 35px;
}

.pr_question_QAbox_q p span {
    padding: 0px 0px 0px 10px;
}

.pr_question_QAbox_tickbox input[type=checkbox] {
    -webkit-transform: scale(2);
    transform: scale(1.5);
}
.pr_question_page_buttons{
    display: flex;
    /* justify-content: space-between; */
}
.pr_question_page_buttons button{
    width: 7rem;
    padding: 9px 0px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    font-size: large;
    margin: 10px 3px;
}
.pr_question_page_buttons .prev{
    background: #106EAC;
}
.pr_question_page_buttons .nex{
    background: #EB9744;
}
/* .pr_question_page_buttons .nex:hover{
    background: #106EAC;
} */
.pr_question_submit_buttons{
    display: flex;
    /* float: right; */
    /* justify-content: right; */
    justify-content: space-between;
    margin: 60px 0px;
}
.pr_question_submit_buttons button{
    width: 7rem;
    padding: 9px 0px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    font-size: large;
    margin: 10px 3px;
}
.pr_question_submit_buttons .can {
    background: #FF0011;
}
.pr_question_submit_buttons .sub {
    background: #4FC92B;
}
/* question page css ends */
.pr_question_secondmaincontainer{
    display: flex;
    height: 50%;
}

.pr_onlyforquestionsandans{
    /* height: 200px; */
    width: 60%;
    position: scroll;
}
.pr_fordisplayquestion{
    height: 70vh;
    width: 38%;
    background-color: #5E5A5A;
    margin: 10px 0px 0px 10px;
    position: fixed;
    left: 60%;
}
.pr_displayquestiontext{
    color: #000000;
    margin: 10px 0px 0px 185px;
}
.pr_boxone{
    height: 35px;
    width: 8%;
    background-color: orange;
    margin: 25px 25px 0px 52px;
    border-radius: 100%;
}
.pr_boxtwo{
    height: 35px;
    width: 8%;
    background-color: white;
    margin: 25px;
    border-radius: 100%;

}
.pr_boxthree{
    height: 35px;
    width: 8%;
    background-color: white;
    margin: 25px;
    border-radius: 100%;

}
.pr_boxfour{
    height: 35px;
    width: 8%;
    background-color: white;
    margin: 25px;
    border-radius: 100%;

}
.pr_boxfive{
    height: 35px;
    width: 8%;
    background-color: white;
    margin: 25px;
    border-radius: 100%;

}
.col1fordisplay{
    display: flex;
    margin: auto;

}
.q1{
    color:black;
    font-size: xx-large;
    text-align: center;
}
.pr_question_submit_buttons_responsive{
display:none;}
@media screen and (max-width: 600px) {
.pr_fordisplayquestion{
display:none;}
.pr_question_submit_buttons_responsive{
display:block;}
.pr_question_submit_buttons{
    display: flex;
    /* float: right; */
    /* justify-content: right; */
    justify-content: space-between;
    margin: 60px 0px;
}
.pr_question_submit_buttons_responsive button{
    width: 7rem;
    padding: 9px 0px;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    font-size: large;
    margin: 10px 3px;
}
.pr_question_submit_buttons_responsive .can {
    background: #FF0011;
}
.pr_question_submit_buttons_responsive .sub {
    background: #4FC92B;
}
.pr_onlyforquestionsandans{
width:100%;
}
}