<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_panel/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/top.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/edit_question.css' %}">
    <title>edit_question</title>
</head>
<body>
{% include '../admin_panel/top.html' %}
{% include '../admin_panel/sidebar.html' %}
<div class="pr_ad_editquestion_main">
    <h2>Edit Question</h2>
    <form action="#">
        <div class="pr_ad_editquestion_item">
            <label for="question">Question:</label>
            <input type="text" id="question" name="question">
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="choice1">Choice 1:</label>
            <input type="text" id="choice1">
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="choice2">Choice 2:</label>
            <input type="text" id="choice2">
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="choice3">Choice 3:</label>
            <input type="text" id="choice3">
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="choice4">Choice 4:</label>
            <input type="text" id="choice4">
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="choices">Answer:</label>
            <select name="choices" id="choices" class="pr_ad_editquestion_choices">
                <option value="none">------</option>
                <option value="choice1">Choice 1</option>
                <option value="choice2">Choice 2</option>
                <option value="choice3">Choice 3</option>
                <option value="choice4">Choice 4</option>
            </select>
        </div>
        <div class="pr_ad_editquestion_item">
            <label for="marks">Marks</label>
            <input type="number" id="marks" name="marks">
        </div>
        <div class="pr_ap_submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>
