<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_panel/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/top.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/add_course.css' %}">
    <title>edit_course</title>
</head>
<body>
{% include '../admin_panel/top.html' %}
{% include '../admin_panel/sidebar.html' %}
<div class="pr_ad_addcourse_main">
    <h2>Edit Course</h2>
     <form action="{% url 'add_course_post' course_query.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="pr_ad_addcourse_item">
            <label for="name">Course Name:</label>
            {{form.Course_Name}}

        </div>
        <div class="pr_ad_addcourse_item">
            <label for="name">Cover Image:</label>
            {{form.photo_img}}
        </div>
        <div class="pr_ad_addcourse_item">
            <label for="questions">No. of Questions Sets:</label>
            {{form.question_sets}}
        </div>
        <div class="pr_ad_addcourse_item">
            <label for="fullmarks">Price:</label>
            {{form.Course_price}}
        </div>
        <div class="pr_ad_addcourse_item">
            <label for="fullmarks">Course Details:</label>
            {{form.Course_detail}}
        </div>
        <div class="pr_ap_submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

</body>
</html>