<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_panel/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/top.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_panel/question_list.css' %}">
    <title>question_list_page</title>
</head>
<body>
{% include '../admin_panel/top.html' %}
{% include '../admin_panel/sidebar.html' %}
<div class="pr_ap_question_list_list_main">
    <div class="pr_ap_question_list_top">
        <div class="pr_ap_question_list_top_left">
            <p>Course Name(question_list_page)</p>
        </div>
        <div class="pr_ap_top_null"></div>
        <div class="pr_ap_question_list_top_right">
            <a href="{% url 'add_question' %}">
                <button>Add New Question</button>
            </a>
        </div>
    </div>
    <div class="pr_ap_question_list_table">
        <table id="question_lists">
            <tr>
                <th class="pr_ap_question_list_sn">S.N.</th>
                <th class="pr_ap_question_list_Question">Questions</th>
                <th class="pr_ap_question_list_choices">Choices</th>
                <th class="pr_ap_question_list_marks">Marks</th>
                <th class="pr_ap_question_list_action">Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>What is SI unit of pressure?</td>
                <td>
                    <p>Newton</p>
                    <p>Pascal</p>
                    <p>Kilogram</p>
                    <p>Meter</p>
                </td>
                <td>2</td>
                <td class="pr_ap_question_list_action_td">
                    <a href="{% url 'edit_question' %}">
                        <button class="pr_ap_editbtn">Edit</button>
                    </a>
                    <a href="#">
                        <button class="pr_ap_deletebtn">Delete</button>
                    </a>
                </td>
            </tr>
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>What is SI unit of pressure?</td>-->
<!--                <td>-->
<!--                    <p>Newton</p>-->
<!--                    <p>Pascal</p>-->
<!--                    <p>Kilogram</p>-->
<!--                    <p>Meter</p>-->
<!--                </td>-->
<!--                <td>2</td>-->
<!--                <td class="pr_ap_question_list_action_td">-->
<!--                    <a href="{% url 'edit_question' %}">-->
<!--                        <button class="pr_ap_editbtn">Edit</button>-->
<!--                    </a>-->
<!--                    <a href="#">-->
<!--                        <button class="pr_ap_deletebtn">Delete</button>-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>What is SI unit of pressure?</td>-->
<!--                <td>-->
<!--                    <p>Newton</p>-->
<!--                    <p>Pascal</p>-->
<!--                    <p>Kilogram</p>-->
<!--                    <p>Meter</p>-->
<!--                </td>-->
<!--                <td>2</td>-->
<!--                <td class="pr_ap_question_list_action_td">-->
<!--                    <a href="edit_question.html">-->
<!--                        <button class="pr_ap_editbtn">Edit</button>-->
<!--                    </a>-->
<!--                    <a href="#">-->
<!--                        <button class="pr_ap_deletebtn">Delete</button>-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>What is SI unit of pressure?</td>-->
<!--                <td>-->
<!--                    <p>Newton</p>-->
<!--                    <p>Pascal</p>-->
<!--                    <p>Kilogram</p>-->
<!--                    <p>Meter</p>-->
<!--                </td>-->
<!--                <td>2</td>-->
<!--                <td class="pr_ap_question_list_action_td">-->
<!--                    <a href="edit_question.html">-->
<!--                        <button class="pr_ap_editbtn">Edit</button>-->
<!--                    </a>-->
<!--                    <a href="#">-->
<!--                        <button class="pr_ap_deletebtn">Delete</button>-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
        </table>
    </div>
</div>
</body>
</html>